<p-dialog header="Bin configuration" [(visible)]="display">

  <div class="config-container">

    <form [formGroup]="form">

      <div class="form-group">
        <label for="Width">Width</label>
        <input type="text" formControlName="width"/>
      </div>

      <div class="form-group">
        <label for="Width">Height</label>
        <input type="number" formControlName="height"/>
      </div>

      <div class="form-group">
        <label for="Width">Depth</label>
        <input type="number" formControlName="depth"/>
      </div>

      <div class="form-group">
        <label for="Width">Limit palletes</label>
        <input type="checkbox" formControlName="limit"/>
      </div>

      <div class="form-group">
        <label for="Width">Number of palletes</label>
        <input type="number" formControlName="pallete_count"/>
      </div>

      <div class="form-group">
        <label for="Width">Item depth</label>
        <input type="number" formControlName="item_depth"/>
      </div>

      <div class="form-group">
        <label for="Height">Padding</label>
        <input type="number" formControlName="padding"/>
      </div>

      <div class="form-group">
        <label for="Height">Algorithm</label>
        <select type="number" formControlName="algorithm">
          <option value="MAX_WIDTH">Max width</option>
          <option value="LONGEST_SIDE">Longest side</option>
          <option value="MAX_AREA">Max area</option>
        </select>
      </div>


      <p-button label="Save" icon="pi pi-plus" styleClass="p-button-sm" (click)="applyConfiguration()"></p-button>
    </form>

  </div>

</p-dialog>

<button (click)="display = true">Config</button>

