<div class="login-container">
  <div class="login-form">
    <div class="logo">
      <img src="/assets/images/logo.png" alt="logo">
    </div>

    <div class="form" [formGroup]="loginForm" (keyup.enter)="login()">
      <div class="input-container">
        <label for="email">Korisničko ime</label>
        <input type="text" formControlName="username">
        <div class="error" *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].invalid">Korisničko ime je obavezno</div>
      </div>
      <div class="input-container">
        <label for="password">Lozinka</label>
        <input type="password" formControlName="password">
        <div class="error" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">Lozinka je obavezna</div>
      </div>

      <ng-container *ngIf="error">
        <p class="text-danger">Desila se greška, pokušajte ponovo.</p>
      </ng-container>

      <div class="actions">
        <p-button label="Prijavi se" (click)="login()" [disabled]="loginForm.invalid"></p-button>
      </div>
    </div>
  </div>
</div>
