<div class="info-container">
  <div class="packer-items">
    <div class="info">
      <h3>Artikli</h3>

      <button pButton pRipple type="button" icon="pi pi-book" class="p-button-rounded p-button-text" (click)="openItemInfo()"></button>
    </div>

  </div>
  <div class="config-info">
    <div class="info">
      <h3>Konfiguracija</h3>

      <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded p-button-text" (click)="openConfigInfo()"></button>
    </div>
  </div>
  <div class="usage-info">
    <div class="info">
      <h3>Nalozi</h3>

      <button pButton pRipple type="button" icon="pi pi-list" class="p-button-rounded p-button-text" (click)="openImporterDialog()"></button>
    </div>
  </div>
</div>
