:host{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.info-container{
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;

  .packer-items, .config-info, .usage-info{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    flex: 1;
    padding: 20px;

    h3{
      margin: 0;
    }

    .info{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

}
