<p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="(progressBar$ | async) || isPacking "></p-progressBar>

<p-confirmPopup></p-confirmPopup>

<p-toast></p-toast>

<app-header></app-header>

<div class="main-layout-container">
  <div class="sidebar">

    <div class="sidebar-navigation">
      <ul class="navigation-list">
        <li class="list-item" *ngFor="let item of sidebarMenuItems" [routerLink]="[item.route]" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
          <span>{{item.label}}</span>
          <i class="{{item.icon}}"></i>
        </li>
        <li class="list-item" [routerLink]="['/packer']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
          <span>Trenutni nalog</span>
          <i class="pi pi-copy" pBadge [value]="itemCount$ | async"></i>
        </li>
      </ul>
    </div>

  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<p-speedDial [model]="tooltipItems" class="bottom-right" className="speeddial-right" direction="up"></p-speedDial>
