
<div class="wrapper">
  
  <div class="data-container">
    <p-inputNumber [(ngModel)]="width" name="width" ngDefaultControl></p-inputNumber>
    <p-inputNumber [(ngModel)]="height" name="height" ngDefaultControl></p-inputNumber>

  </div>

  <div class="visual-container">
    <div class="sheet" [ngStyle]="{'width.px': packer.sheet.width, 'height.px': packer.sheet.height}">
    
      <ng-container *ngFor="let item of items">
        <div class="item" *ngIf="item.used"
          [style.left.px]="item.x"
          [style.top.px]="item.y"
          [ngStyle]="{'width.px': item.width, 'height.px': item.height}">
          {{item.width +' x '+ item.height}}
        </div>
      </ng-container>
    
      <ng-container *ngFor="let sheet of packer.nodes">
        <div class="node" 
          [style.left.px]="sheet.x"
          [style.top.px]="sheet.y"
          [ngStyle]="{'width.px': sheet.width, 'height.px': sheet.height}">
          <span class="sheet-dimensions">{{sheet.width + ' x ' + sheet.height}}</span>
        </div>
      </ng-container>
    
    </div>
  </div>
</div>

