
<div class="wrapper">

  <div class="data-container">

    <app-config-form></app-config-form>
    <app-item-form></app-item-form>

    <app-items-info [items]="items" [itemsUsagePercentage]="packer.itemsUsagePercent"></app-items-info>

    <!-- <div class="buttons-container">
      <button pButton type="button" label="Pack" class="p-button clear-button" (click)="pack()" *ngIf="items.length > 0"></button>
      <button pButton type="button" label="Remove all" class="p-button-danger clear-button" (click)="clear()" *ngIf="items.length > 0"></button>
    </div> -->

  </div>

  <div class="visual-container">
    <div class="sheet" [ngStyle]="{'width.px': packer.config.width, 'height.px': packer.config.height}" *ngFor="let sheet of packer.sheets">

      <div class="space-used" [ngClass]="sheet.efficiency > 85 ? 'high' : sheet.efficiency < 50 ? 'low' : 'medium'">{{sheet.efficiency | number: '2.2'}} % space used</div>
      <ng-container *ngFor="let item of sheet.items">
        <div class="item"
          [style.left.px]="item.x"
          [style.top.px]="item.y"
          [ngStyle]="{'width.px': item.width, 'height.px': item.height}">
          {{item.width +' x '+ item.height}}
        </div>
      </ng-container>

      <ng-container *ngFor="let sheet of sheet.nodes">
        <div class="node" *ngIf="!sheet.used"
          [style.left.px]="sheet.x"
          [style.top.px]="sheet.y"
          [ngStyle]="{'width.px': sheet.width, 'height.px': sheet.height}">
          <span class="sheet-dimensions">{{sheet.width + ' x ' + sheet.height}}</span>
        </div>
      </ng-container>

    </div>
  </div>
</div>

