.items-container{
  display: flex;
  flex-direction: column;
  padding: 15px;

  h2{
    display: flex;
    justify-content: space-between;
  }

  .item-container{
    display: flex;
  }

  .clear-button{
    margin-top: 10px;
  }
}
