:host ::ng-deep{
  .p-dialog{
    width: 100%;
    max-width: 750px;
  }
}

.items-container{
  display: flex;
  flex-direction: column;
  padding: 15px;

  .item-container{
    display: flex;
  }

  .clear-button{
    margin-top: 10px;
  }
}

.info-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 span{
    margin-right: 15px;
  }

  button{
    height: max-content;
  }
}


.removeall{
  width: fit-content;
  margin-top: 15px;
  align-self: end;
}