<ng-container *ngIf="palletes[0] && palletes[0].length > 0 && itemsCount > 0; else noPalletes">

  <div class="palletes-list">
    <h3>Palete</h3>

    <div class="list-item" *ngFor="let pallete of palletes; let i = index" (click)="selectPallete(pallete, i)" [class.active]="activeItem == i">
      <span> Paleta {{i+1}}</span>
    </div>
  </div>
  <div class="pallete-sheets">
    <h3>Raspored na paleti</h3>

    <swiper [config]="swiperConfig" [navigation]="true" [pagination]="true" >
      <ng-template swiperSlide class="sheet-container" *ngFor="let sheet of selectedPallete">

        <div class="sheet" [ngStyle]="{'width.px': config.width, 'height.px': config.height}">
          <ng-container *ngFor="let item of sheet.items">
            <div class="item"
            [style.left.px]="item.x"
            [style.top.px]="item.y"
            [ngStyle]="{'width.px': item.rotated ? item.height : item.width, 'height.px': item.rotated ? item.width : item.height}">
            {{item.width +' x '+ item.height}}
          </div>
          </ng-container>

          <ng-container *ngFor="let sheet of sheet.nodes">
            <div class="node" *ngIf="!sheet.used"
            [style.left.px]="sheet.x"
            [style.top.px]="sheet.y"
            [ngStyle]="{'width.px': sheet.width, 'height.px': sheet.height}">
            <span class="sheet-dimensions">{{sheet.width + ' x ' + sheet.height}}</span>
            </div>
          </ng-container>
        </div>

      </ng-template>
    </swiper>

  </div>

</ng-container>


<ng-template #noPalletes>
  <h2 class="no-results">
    Još nema rezultata, dodaj artikle pa klikni na pakiranje.
  </h2>
</ng-template>
