:host::ng-deep{
    display: flex;
    column-gap: 20px;
    margin-top: 20px;

    .palletes-list{
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        width: 250px;

        h3{
          margin: 0 -20px;
          margin-top: -20px;
          padding: 10px 20px;
          border-bottom: 2px solid #f5f4ff;
        }

        .list-item{
          padding: 10px 20px;
          margin: 0 -20px;
          background: white;
          border-bottom: 2px solid #f5f4ff;
          cursor: pointer;

          &:hover{
            background: #efefef;
          }

          &.active{
            background: #efefef;
          }
        }
    }

    .pallete-sheets{
      background-color: white;
      border-radius: 5px;
      padding: 20px;
      width: calc(100% - 250px - 20px);
    }

    .palletes-header{
      display: flex;
      justify-content: space-between;
    }

    .sheet-container{
      display: flex;
      justify-content: center;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}

.no-results{
  text-align: center;
}

.sheet{
    position: relative;
    outline: 1px solid black;
    margin-right: 10px;
    transform: rotate3d(1, 0, 0, 180deg);

    .space-used{
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 800;
      font-size: 1.5em;
      width: 100%;
      text-align: center;

      &.high{
        color: green;
      }

      &.low{
        color: red;
      }
    }
  }

  .item{
    position: absolute;
    box-shadow: inset 0 0 5px black;
    transform: rotate3d(1, 0, 0, 180deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .node{
    position: absolute;
    box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate3d(1, 0, 0, 180deg);

    .sheet-dimensions{
      color: red;
    }

    &:hover{
      background-color: rgba(255, 0, 0, 0.432);

      .sheet-dimensions{
        font-weight: 900;
        color: white;
      }
    }
  }
