<form [formGroup]="form">

  <div class="form-group">
    <label for="Width">Ime</label>
    <input type="text" formControlName="name"/>
  </div>

  <div class="form-group">
    <label for="Width">Širina</label>
    <input type="number" formControlName="width"/>
  </div>

  <div class="form-group">
    <label for="Height">Visina</label>
    <input type="number" formControlName="height"/>
  </div>

  <p-button label="Add" icon="pi pi-plus" styleClass="p-button-sm" (click)="add()"></p-button>
</form>

